In [194]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [195]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
292,tt1148204,20000000,41596251,Orphan,Vera Farmiga|Peter Sarsgaard|Isabelle Fuhrman|...,Jaume Collet-Serra,Can you keep a secret?,A married couple with a rocky past adopt 9-yea...,123,Horror|Thriller|Mystery,Dark Castle Entertainment|Studio Babelsberg St...,7/24/2009,6.5,2009
1323,tt0360486,100000000,230427240,Constantine,Keanu Reeves|Rachel Weisz|Shia LaBeouf|Djimon ...,Francis Lawrence,"Hell Wants Him, Heaven Won't Take Him, Earth N...",John Constantine has literally been to Hell an...,121,Drama|Fantasy|Horror,Village Roadshow Pictures|DC Comics|Lonely Fil...,2/15/2005,6.5,2005
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013
388,tt0473075,150000000,335154643,Prince of Persia: The Sands of Time,Jake Gyllenhaal|Gemma Arterton|Ben Kingsley|Al...,Mike Newell,Defy the Future,A rogue prince (Jake Gyllenhaal) reluctantly j...,116,Adventure|Fantasy|Action|Romance,Walt Disney Pictures|Jerry Bruckheimer Films,5/19/2010,6.1,2010
581,tt0211465,15000000,12000000,Knockaround Guys,Barry Pepper|Andy Davoli|Seth Green|Vin Diesel...,Brian Koppelman|David Levien,"If they don't finish the job, their fathers wi...",Four sons of well-known New York mobsters must...,92,Crime|Thriller,Lawrence Bender Productions,9/7/2001,5.7,2001

In [196]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [197]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [198]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [199]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]
answers['1'] = data[data.budget == data.budget.max()]['original_title']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object}

ВАРИАНТ 2

In [200]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [201]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [202]:
answers['2'] = data[data.runtime == data.runtime.max()]['original_title']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object}

# 3. Какой из фильмов самый короткий (в минутах)?

In [203]:
answers['3'] = data[data.runtime == data.runtime.min()]['original_title']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object}

# 4. Какова средняя длительность фильмов?

In [204]:
answers['4'] = data.runtime.mean()
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884}

# 5. Каково медианное значение длительности фильмов?

In [205]:
answers['5'] = data.runtime.median()
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [206]:
# лучше кодdata получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()]['original_title']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object}

# 7. Какой фильм самый убыточный?

In [207]:
answers['7'] = data[data.profit == data.profit.min()]['original_title']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [208]:
answers['8'] = len(data[data.profit > 0].index)
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [209]:
answers['9'] = data[(data.revenue == data[data.release_year == 2008].revenue.max() ) &
                    (data.release_year == 2008)]['original_title']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [210]:
answers['10'] = data[(data.profit == data[(data.release_year >= 2012)& (data.release_year <= 2014)].profit.min() )
                     & (data.release_year >= 2012) 
                     & (data.release_year <= 2014)]['original_title']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object}

# 11. Какого жанра фильмов больше всего?

In [211]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [212]:
genres = {}

for index,row in data.iterrows():
    for genre in row['genres'].split('|'):
        genres.setdefault(genre,0)
        genres[genre] += 1
        
answers['11'] = [(k,v) for k,v in sorted(genres.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [213]:
genres = {}

for index,row in data[data.profit > 0].iterrows():
    for genre in row['genres'].split('|'):
        genres.setdefault(genre,0)
        genres[genre] += 1

answers['12'] = [(k,v) for k,v in sorted(genres.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama'}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [214]:
directors = {}

for index,row in data.iterrows():
    for director in row['director'].split('|'):
        directors.setdefault(director,0)
        directors[director] += row['revenue']
answers['13'] = [(k,v) for k,v in sorted(directors.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [215]:
answers['14'] = data[data.genres.str.contains('Action')].director.mode().values[0]
answers['14']

'Michael Bay'

In [216]:
import collections
directors = []
for director in data[data.genres.str.contains('Action')].director.values:
    for subdirector in director.split('|'):
        directors.append(subdirector)
directors = collections.Counter(directors)

answers['14'] = list(directors.keys())[list(directors.values()).index(9)]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [234]:
data2012 = data[data.release_year == 2012]
actors = []
for cast in data2012.cast:
    for actor in cast.split('|'):
        actors.append(actor)

actors = collections.Counter(actors)

answers['15'] = list(actors.keys())[list(actors.values()).index(5)]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Bruce Willis', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450, '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26':                                      original_title  vote_average
 599                                 The Dark Knight           8.1
 118                                    Interstellar           8.0
 125                              The Imitation Game           8.0
 9                                        Inside Out           8.0
 34                                             Room           8.0
 1183                        The Wolf of Wall Street           7.9
 128                                       Gone Girl           7.9
 1191                               12 Years a Slave           7.9
 119                         Guardians of the Galaxy           7.9
 1081  The Lord of the Rings: The Return of the King           7.9
 1800                                        Memento           7.9
 370                                       Inception           7.9
 872                                     The Pianist           7.9
 138                        The Grand Budapest Hotel           7.9
 1188                                            Her           7.8
 28                                        Spotlight           7.8
 124                                      Big Hero 6           7.8
 177                          The Fault in Our Stars           7.8
 863           The Lord of the Rings: The Two Towers           7.8, '27': ('Daniel Radcliffe',
  'Rupert Grint')}

In [218]:
data2012 = data[data.release_year == 2012]
actors = {}
for index,row in data2012.iterrows():
    for actor in row['cast'].split('|'):
        actors.setdefault(actor,0)
        actors[actor] += row['revenue']   
        
#определим, какой самый большой кассовый сбор у актеров      
max_actor_revenue = max(actors.values())

for actor,revenue in actors.items():
    if revenue == max_actor_revenue:
        best_actor = actor
        break;
answers['15'] = best_actor
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [219]:
#выделим высокобюджетные фильмы
high_budget_films = data[data.budget > data.budget.mean()]

actors = {}
for index,row in high_budget_films.iterrows():
    for actor in row['cast'].split('|'):
        actors.setdefault(actor,0)
        actors[actor] += 1
actors
max_film_cnt = max(actors.values())

for actor,cnt in actors.items():
    if cnt == max_film_cnt:
        best_actor = actor
        break;
answers['16'] = best_actor
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [220]:
ncage_data = data[data['cast'].str.contains('Nicolas Cage')]

genres = {}
for index,row in ncage_data.iterrows():
    for genre in row['genres'].split('|'):
        genres.setdefault(genre,0)
        genres[genre] += 1
        
answers['17'] = [(k,v) for k,v in sorted(genres.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [221]:
paramount_pictures = data[data.production_companies.str.contains('Paramount Pictures')]
films = {}

for index,row in paramount_pictures.iterrows():
    films.setdefault(row['original_title'],0)
    films[row['original_title']] += row['profit']

answers['18'] = [(k,v) for k,v in sorted(films.items(),key=lambda x: x[1],reverse=False)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [222]:
data['release_year'].head(3)

0    2015
1    2015
2    2015
Name: release_year, dtype: int64

In [223]:
years = {}

for index,row in data.iterrows():
    years.setdefault(row['release_year'],0)
    years[row['release_year']] += row['revenue']

answers['19'] = [(k,v) for k,v in sorted(years.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [224]:
warner_bros = data[data.production_companies.str.contains('Warner Bros')]
years = {}

for index,row in warner_bros.iterrows():
    years.setdefault(row['release_year'],0)
    years[row['release_year']] += row['profit']

answers['20'] = [(k,v) for k,v in sorted(years.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [225]:
months = {}

for index,row in data.iterrows():
    months.setdefault(row['release_date'].split('/')[0],0)
    months[row['release_date'].split('/')[0]] += 1

answers['21'] = [(k,v) for k,v in sorted(months.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [226]:
answers['22'] = months['6'] + months['7'] + months['8']
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [227]:
data['release_date'] = pd.to_datetime(data['release_date'])
winter_directors = {}

for index,row in data.iterrows():
    if row['release_date'].month in [1,2,12]:
        for director in row['director'].split('|'):
            winter_directors.setdefault(director,0)
            winter_directors[director] += 1

answers['23'] = [(k,v) for k,v in sorted(winter_directors.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450, '23': 'Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [228]:
import statistics

production_companies = {}

for index,row in data.iterrows():
    for production_company in row['production_companies'].split('|'):
            production_companies.setdefault(production_company,[])
            production_companies[production_company].append(len(row['original_title']))

for k,v in production_companies.items():
    production_companies[k] = statistics.mean(v)
    
answers['24'] = [(k,v) for k,v in sorted(production_companies.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450, '23': 'Peter Jackson', '24': 'Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [229]:
production_companies = {}

for index,row in data.iterrows():
    for production_company in row['production_companies'].split('|'):
            production_companies.setdefault(production_company,[])
            production_companies[production_company].append(len(row['overview'].split(' ')))

for k,v in production_companies.items():
    production_companies[k] = statistics.mean(v)
    
answers['25'] = [(k,v) for k,v in sorted(production_companies.items(),key=lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450, '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [230]:
votes = data[['original_title','vote_average']].sort_values(by='vote_average',ascending=False)
votes[:round(len(votes)*0.01)]

answers['26'] = votes[:round(len(votes)*0.01)]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450, '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26':                                      original_title  vote_average
 599                                 The Dark Knight           8.1
 118                                    Interstellar           8.0
 125                              The Imitation Game           8.0
 9                                        Inside Out           8.0
 34                                             Room           8.0
 1183                        The Wolf of Wall Street           7.9
 128                                       Gone Girl           7.9
 1191                               12 Years a Slave           7.9
 119                         Guardians of the Galaxy           7.9
 1081  The Lord of the Rings: The Return of the King           7.9
 1800                                        Memento           7.9
 370                                       Inception           7.9
 872                                     The Pianist           7.9
 138                        The Grand Budapest Hotel           7.9
 1188                                            Her           7.8
 28                                        Spotlight           7.8
 124                                      Big Hero 6           7.8
 177                          The Fault in Our Stars           7.8
 863           The Lord of the Rings: The Two Towers           7.8}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [231]:
import itertools
combos = {}

for index,row in data.iterrows():
    actors = row['cast'].split('|')
    film_combo = itertools.combinations(actors,2)
    for combo in film_combo:
        combos.setdefault(combo,0)
        combos[combo] += 1
combos

answers['27'] = [(k,v) for k,v in sorted(combos.items(), key = lambda x: x[1],reverse=True)][0][0]
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450, '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26':                                      original_title  vote_average
 599                                 The Dark Knight           8.1
 118                                    Interstellar           8.0
 125                              The Imitation Game           8.0
 9                                        Inside Out           8.0
 34                                             Room           8.0
 1183                        The Wolf of Wall Street           7.9
 128                                       Gone Girl           7.9
 1191                               12 Years a Slave           7.9
 119                         Guardians of the Galaxy           7.9
 1081  The Lord of the Rings: The Return of the King           7.9
 1800                                        Memento           7.9
 370                                       Inception           7.9
 872                                     The Pianist           7.9
 138                        The Grand Budapest Hotel           7.9
 1188                                            Her           7.8
 28                                        Spotlight           7.8
 124                                      Big Hero 6           7.8
 177                          The Fault in Our Stars           7.8
 863           The Lord of the Rings: The Two Towers           7.8, '27': ('Daniel Radcliffe',
  'Rupert Grint')}

# Submission

In [232]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 109.6585494970884, '5': 107.0, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson', '14': 'Robert Rodriguez', '15': 'Chris Hemsworth', '16': 'Matt Damon', '17': 'Action', '18': 'K-19: The Widowmaker', '19': 2015, '20': 2014, '21': '9', '22': 450, '23': 'Peter Jackson', '24': 'Four By Two Productions', '25': 'Midnight Picture Show', '26':                                      original_title  vote_average
 599                                 The Dark Knight           8.1
 118                                    Interstellar           8.0
 125                              The Imitation Game           8.0
 9                                        Inside Out           8.0
 34                                             Room           8.0
 1183                        The Wolf of Wall Street           7.9
 128                                       Gone Girl           7.9
 1191                               12 Years a Slave           7.9
 119                         Guardians of the Galaxy           7.9
 1081  The Lord of the Rings: The Return of the King           7.9
 1800                                        Memento           7.9
 370                                       Inception           7.9
 872                                     The Pianist           7.9
 138                        The Grand Budapest Hotel           7.9
 1188                                            Her           7.8
 28                                        Spotlight           7.8
 124                                      Big Hero 6           7.8
 177                          The Fault in Our Stars           7.8
 863           The Lord of the Rings: The Two Towers           7.8, '27': ('Daniel Radcliffe',
  'Rupert Grint')}

In [233]:
# и убедиться что ни чего не пропустил)
len(answers)

27